.divgen{
    display: flex;
    justify-content: center;
  }
  
  .conf{
     img{
         display: flex;
         flex-direction: column;
     }
  
    }

    footer{
        background-color: #fdf9c4;
      }
      .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
         ul{
           list-style-type: none;}
           li a{
               text-decoration: none;
             }
    
      }
      
      .lista1 a{
        font-size: 30px;
        border: solid black 1px;
        padding: $spacing5*2;
        color: rgb(255, 255, 255);
        border-radius: $spacing5*3;
        background-color: black;
        
      }

      // Mixins
      @mixin banana($fuente, $borde){
        font-size: $fuente;
        margin-right: $espaciado;  
      }
      .lista2{

        @include banana(22px, 30px);

        li {

          padding: $spacing5*2; 

        }

 }
      